<!DOCTYPE html>
<html>
  <head>
    <title>changed</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Restful Service</h1>
    <p><a href="/applicants">clck</a> </p>
  </body>
</html>
